body{
    background-color: #f9f9f9;
    font-size: 0.875rem; /* Diminui o tamanho da fonte (14px) */
    font-weight: bold;
}

.form-control, .form-select {
    font-size: 0.875rem; /* Diminui o tamanho da fonte dos inputs */
    padding: 0.375rem 0.75rem; /* Reduz o padding dos inputs */
}

.form-label {
    font-size: 0.85rem; /* Diminui o tamanho das labels */
}

/* Ajuste de margens para inputs em telas menores */
.col-md-4, .col-md-3, .col-md-6 {
    margin-bottom: 15px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    flex: 1;
    margin: 0 5px;
    box-shadow: 0.5px 0.5px 3px 0.2px rgba(0, 0, 0, 0.259);
    
}

.form-control, .form-select{
    background-color: rgb(226, 225, 225);
    box-shadow: 0.5px 0.5px 3px 0.2px rgba(0, 0, 0, 0.259);
}

